body {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 40px;
}

.cupcake-header {
  padding-bottom: 20px;
}

.add-cupcake-form {
  width: 50%;
}

.add-cupcake-form:hover {
  cursor: pointer;
}

.cupcake-img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.cupcake-img:hover {
  cursor: pointer;
}

.cupcake-list {
  padding-bottom: 20px;
  padding-left: 0px;
  list-style-type: none;
}